<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Add category</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<h1>Add category</h1>

<div id="message" style="display: none"></div>

<form id="add-category-form" th:action="@{/add/category}" th:object="${category}" method="post">
    <label for="name">Category name:</label>
    <input type="text" id="name" th:field="*{name}" required th:maxlength="30"/><br>

    <label for="description">Description:</label>
    <input type="text" id="description" th:field="*{description}" required th:maxlength="200"/><br>

    <button type="submit">Add</button>
</form>

<script>
    $(document).ready(function() {
        $('#add-category-form').on('submit', function(e) {
            e.preventDefault();

            const formData = {
                name: $('#name').val(),
                description: $('#description').val()
            };

            $.ajax({
                url: '/add/category',
                type: 'POST',
                data: formData,
                dataType: 'json',
                success: function(response) {
                    $('#message')
                        .css('color', 'green')
                        .text(response.message)
                        .show();
                    $('#name').val('');
                    $('#description').val('');
                },
                error: function(xhr) {
                    const response = JSON.parse(xhr.responseText);
                    $('#message')
                        .css('color', 'red')
                        .text(response.message)
                        .show();
                }
            });

        });
    });
</script>
</body>
</html>
