<footer>
  <div class="footer-buttons">
    <a href="#" class="footer-button" th:href="@{/add/building}">Add Building</a>
    <a href="#" class="footer-button" th:href="@{/add/category}">Add Category</a>
    <a href="#" class="footer-button" th:href="@{/add/city}">Add City</a>
    <a href="#" class="footer-button" th:href="@{/add/country}">Add Country</a>
    <a href="#" class="footer-button" th:href="@{/}">Home</a>
    <a href="#" class="footer-button" th:href="@{/add/localization}">Add Localization</a>
    <a href="#" class="footer-button" th:href="@{/add/product}">Add Product</a>
    <a href="#" class="footer-button" th:href="@{/products}">Products</a>
    <a href="#" class="footer-button" th:href="@{/add/user}">Add User</a>
    <a href="#" class="footer-button" th:href="@{/users}">Users</a>
  </div>
  <p>&copy; 2024 Inventory By Mateusz Nowak</p>
</footer>
