<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <title>Please Log In</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>

<div th:replace="~{header.html}"></div>

<main>
<h1>Please Log In</h1>

<p th:if="${param.logout}">You have been logged out successfully.</p>
<div id="login-message" style="display: none;"></div>

<form id="login-form">
  <label for="email">E-mail:</label>
  <input type="text" name="email" id="email" placeholder="Email" /><br/>

  <label for="password">Password:</label>
  <input type="password" name="password" id="password" placeholder="Password" /> <br/>

  <input type="checkbox" name="remember-me" id="remember-me">
  <label for="remember-me">Remember me</label><br/>
  <input type="button" value="Log in" id="login-button" />
</form>
</main>

<div th:replace="~{footer.html}"></div>

<script>
  $(document).ready(function () {
    $('#login-button').click(function (event) {
      event.preventDefault();
      let email = $('#email').val();
      let password = $('#password').val();
      let rememberMe = $('#remember-me').is(':checked');

      $.ajax({
        url: '/login',
        method: 'POST',
        contentType: 'application/x-www-form-urlencoded',
        data: {
          email: email,
          password: password,
          'remember-me': rememberMe
        },
        success: function (response) {
          $('#login-message').text('Successfully logged in!').css('color', 'green').show();
          window.location.href = "/";
        },
        error: function (xhr) {
          if (xhr.status === 401) {
            $('#login-message').text('Invalid email or password!').css('color', 'red').show();
          } else {
            $('#login-message').text('An unexpected error occurred.').css('color', 'red').show();
          }
        }
      });
    });
  });
</script>

</body>
</html>